/*----------------Block model---------------*/

* {
  margin: 0px;
}

.our-services {
  max-width: 1020px;
  margin: 0 auto;
}

.slider__main {
  position: relative;
  height: 594px;
}

.slider__bottom {
  height: 6px;
}

.our-services__wrapper {
  height: 494px;
}

.our-services__bottom {
  height: 6px;
}

/*--------------header--------------------*/

.header {
  min-height: 89px;
}

.header__wrapper {
  max-width: 1020px;
  min-height: 89px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  min-width: 600px;
  padding: 0 40px;
}

.header__logo {
  position: relative;
  bottom: 3px;
}

.header__navigation {
  position: relative;
  top: 4.5px;
  max-width: 500px;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navigation li {
  margin-left: 27px;
}

/*--------------slider--------------------*/

.slider {
  margin: 0 auto;
}

.slider__wrapper {
  max-width: 1020px;
  min-height: 594px;
  margin: 0 auto;
}

.slider__content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 594px;
}

.slider__button-right,
.slider__button-left,
.slider__vertical-image,
.slider__horizontal-image {
  position: relative;
  margin: 20px;
}

.slider__button-left {
  left: 22px;
  bottom: 0.5px;
}

.slider__button-right {
  right: 20px;
  bottom: 4.5px;
}

.slider__vertical-image {
  right: 9.3px;
  margin-right: 5px;
}

.slider__horizontal-image {
  left: 7px;
  bottom: 2.1px;
  margin-left: 5px;
}

/*----------------our services------------------*/

.our-services__main {
  padding: 59px 40px 0 40px;
}

.our-services__main-container {
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-end;
}

.our-services__custom-design,
.our-services__inovative-ideas,
.our-services__love-is-the-answer,
.our-services__responsive-layout,
.our-services__24-7-support,
.our-services__feel-like-a-star {
  width: 33.3%;
}

.ico-custom-design,
.ico-inovative-ideas,
.ico-love-is-the-answer,
.ico-responsive-layout,
.ico-24-7-support,
.ico-feel-like-a-star {
  float: left;
  margin-top: 3px;
}

.ico-responsive-layout,
.ico-24-7-support,
.ico-feel-like-a-star {
  margin-top: 31px;
}

.ico-inovative-ideas,
.ico-24-7-support {
  padding-left: 6px;
}

.ico-love-is-the-answer,
.ico-feel-like-a-star {
  padding-left: 13px;
}

.our-services__custom-design-description {
  margin-left: 80px;
}

.our-services__inovative-ideas-description {
  margin-left: 86px;
}

.our-services__love-is-the-answer-description {
  margin-left: 95px;
}

.our-services__responsive-layout-description {
  margin: 28px 0 0 80px;
}

.our-services__24-7-support-description {
  margin: 28px 0 0 86px;
}

.our-services__feel-like-a-star-description {
  margin: 28px 0 0 95px;
}

/*-------------------Typography------------------*/

body {
  font-family: "Lato", sans-serif;
}

.header__logo a {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.6px;
  text-decoration: none;
}

.header__logo::after {
  content: "*";
  position: relative;
  right: 6px;
  bottom: 1px;
  font-size: 25px;
  color: #f06c64;
}

.navigation li {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.3px;
  list-style-type: none;
}

.navigation li::before {
  content: "·";
  position: relative;
  right: 12px;
  bottom: 1px;
  font-size: 8px;
  color: #494f62;
}

.navigation a {
  text-decoration: none;
}

.our-services__main h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #666d89;
}

.our-services__main-description {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.15px;
  line-height: 30px;
  text-align: left;
  color: #767e9e;
}

.our-services__custom-design-description p,
.our-services__inovative-ideas-description p,
.our-services__love-is-the-answer-description p,
.our-services__responsive-layout-description p,
.our-services__24-7-support-description p,
.our-services__feel-like-a-star-description p {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #767e9e;
  text-align: justify;
}

.our-services__custom-design-description h3,
.our-services__inovative-ideas-description h3,
.our-services__love-is-the-answer-description h3,
.our-services__responsive-layout-description h3,
.our-services__24-7-support-description h3,
.our-services__feel-like-a-star-description h3 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.1px;
  color: #666d89;
}

.our-services__custom-design-description p {
  margin: 8px 13px 0 0;
}

.our-services__inovative-ideas-description p {
  margin: 8px 7px 0 0;
}

.our-services__love-is-the-answer-description p {
  margin: 8px 0 0 -1px;
}

.our-services__responsive-layout-description p {
  margin: 8px 13px 0 0;
}

.our-services__24-7-support-description p {
  margin: 8px 7px 0 0;
}

.our-services__feel-like-a-star-description p {
  margin: 8px 0 0 -1px;
}

/*-----------Decor-------------------*/

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.navigation li a {
  cursor: pointer;
  color: #fff;
}

.navigation li:first-child::before {
  content: "";
  margin-left: 0;
  list-style-type: none;
}

.navigation li:first-child a {
  color: #f06c64;
}

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__button-left,
.slider__button-right {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.slider__button-right {
  transform: rotate(180deg);
}

.our-services__wrapper {
  background-color: #f2f2f2;
}

.our-services__bottom {
  background-color: #fff;
}

/*---------------------Animation------------------*/

.navigation a:hover {
  color: #f06c64;
  transition-duration: 0.2s;
}

.navigation li a:active {
  color: #767e9e;
}

.slider__button-left:hover,
.slider__button-right:hover {
  cursor: pointer;
  transform: translateX(-5px);
  filter: saturate(150%);
  transition-duration: 0.2s;
}

.slider__button-right:hover {
  transform: translateX(5px) rotate(180deg);
}

.slider__button-left:active,
.slider__button-right:active {
  outline: none;
  filter: brightness(50%);
  transition-duration: 0.1s;
}

.slider__button-left:focus,
.slider__button-right:focus {
  outline: none;
}
