/*----------------Block model---------------*/

* {
  margin: 0px;
}

/*--------------header--------------------*/

.header {
  min-height: 89px;
}

.header__wrapper {
  max-width: 1020px;
  min-height: 89px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  padding: 0 40px;
}

.header__logo {
  position: relative;
  bottom: 3px;
}

.header__navigation {
  position: relative;
  top: 4.5px;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.navigation li {
  margin-left: 27px;
}

/*--------------slider--------------------*/

.slider {
  min-height: 594px;
}
.slider__wrapper {
  max-width: 1020px;
  min-height: 594px;
  margin: 0 auto;
}

.slider__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 594px;
}

.slider__button-right,
.slider__button-left,
.slider__vertical-image,
.slider__horizontal-image {
  position: relative;
  margin: 20px;
}

.slider__button-left {
  left: 22px;
  bottom: 0.5px;
}

.slider__button-right {
  right: 20px;
  bottom: 4.5px;
}

.slider__vertical-image {
  right: 9.3px;
  margin-right: 5px;
}

.slider__horizontal-image {
  left: 7px;
  bottom: 2.1px;
  margin-left: 5px;
}

/*----------------our services------------------*/

.our-services {
  min-height: 494px;
}

.our-services__wrapper {
  max-width: 1020px;
  min-height: 494px;
  margin: 0 auto;
}

.our-services__content {
  padding: 60px 40px 0 40px;
}

.our-services__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 0;
}

.our-services__list li {
  display: block;
  max-width: 301px;
  margin-top: 30.5px;
}

.our-services__list img {
  float: left;
  margin-bottom: 20px;
}

.our-services__list-descriptions h3,
.our-services__list-descriptions p {
  display: inline-block;
  max-width: 220px;
  margin-left: 18px;
}

.our-services__list-descriptions h3 {
  position: relative;
  bottom: 2px;
}

.our-services__list-descriptions p {
  margin-top: 6px;
}

/*-------------------Typography------------------*/

body {
  font-family: "Lato", sans-serif;
}

.header__logo a {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.6px;
  text-decoration: none;
  color: #ffffff;
}

.header__logo::after {
  content: "*";
  position: relative;
  right: 6px;
  bottom: 1px;
  font-size: 25px;
  color: #f06c64;
}

.navigation li {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.3px;
  list-style-type: none;
}

.navigation li::before {
  content: "·";
  position: relative;
  right: 12px;
  bottom: 1px;
  font-size: 8px;
  color: #494f62;
}

.navigation a {
  text-decoration: none;
}

.our-services__content h2 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #666d89;
}

.our-services__description {
  margin-top: 17px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.15px;
  line-height: 1.7;
  text-align: left;
  color: #767e9e;
}

.our-services__list-descriptions p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.8;
  color: #767e9e;
  text-align: justify;
}

.our-services__list-descriptions h3 {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.1px;
  color: #666d89;
}

/*-----------Decor-------------------*/

.header {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.navigation li a {
  cursor: pointer;
  color: #fff;
}

.navigation li:first-child::before {
  content: "";
  margin-left: 4px;
  list-style-type: none;
}

.navigation li:first-child a {
  color: #f06c64;
}

.slider {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.slider__button-left,
.slider__button-right {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}

.slider__button-right {
  transform: rotate(180deg);
}

.our-services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

/*---------------------Animation------------------*/

.navigation a:hover {
  color: #f06c64;
  transition-duration: 0.2s;
}

.navigation li a:active {
  color: #767e9e;
}

.slider__button-left:hover,
.slider__button-right:hover {
  cursor: pointer;
  transform: translateX(-5px);
  filter: saturate(150%);
  transition-duration: 0.2s;
}

.slider__button-right:hover {
  transform: translateX(5px) rotate(180deg);
}

.slider__button-left:active,
.slider__button-right:active {
  outline: none;
  filter: brightness(50%);
  transition-duration: 0.1s;
}

.slider__button-left:focus,
.slider__button-right:focus {
  outline: none;
}
