/*--------------------block model----------------------------*/

* {
    margin: 0;
}

/*--------------------portfolio----------------------------*/

.portfolio {
    min-height: 864px;
}

.portfolio__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

/*--------------------authors---------------------------*/

.authors {
    min-height: 728px;
}

.authors__wrapper {
    max-width: 1020px;
    margin: 0 auto;
}

/*---------------------typography--------------------------*/

/*--------------------portfolio----------------------------*/
/*--------------------authors---------------------------*/


/*---------------------decor--------------------------*/

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.authors {
/*-----------------------------------------------*/
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

/*--------------------portfolio----------------------------*/
/*--------------------authors---------------------------*/


/*---------------------animation--------------------------*/

/*--------------------portfolio----------------------------*/
/*--------------------authors---------------------------*/

